@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Ubuntu&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

.logo{
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 35px;
}

.sec_width{
    height: 94vh;
    background: url("../assets/imgd/img1.jpg");
    background-size: cover;
    backdrop-filter: blur(10px);
}